
    <p>{{data | json}}</p>

    <h1 class="titulo">A new hope</h1>
    <div class="row">


        <img class="col-md-4" src="/assets/images/categories/anewhope.jpg" alt="anewhope" />

        <div  class="col-md-6">
            <h2>Summary</h2>
            <p>The galaxy is in a period of civil war. 
                Rebel spies have stolen plans to the Galactic Empire's Death Star, 
                a moon-sized space station capable of destroying an entire planet. 
                Princess Leia, secretly one of the Rebellion's leaders, 
                has obtained its schematics, 
                but her starship is intercepted by an 
                Imperial Star Destroyer under the command of the ruthless Sith Lord Darth Vader, 
                an agent to the Empire. Before she is captured, 
                Leia hides the plans in the memory of astromech droid R2-D2, who, 
                along with protocol droid C-3PO, 
                flees in an escape pod to the desert planet Tatooine.
            </p>

            
        </div>
        
        
        
        
    </div>
    <div class="row">
        
        <h3 class="col-md-12">Director</h3>
        <p class="col-md-12">George Lucas</p>
        <h3 class="col-md-12">Producers</h3>
        <p class="col-md-12">Gary Kurtz</p>
        <p class="col-md-12">Rick McCallum</p>
        <h3 class="col-md-12">Released on</h3>
        <p class="col-md-12">April 25th 1977</p>
    </div>
    <div class="row">
        <h1 class="col-md-12">Characters:</h1>  
        <div class="col-md-2">
            <img class="col-md-12" src="/assets/images/categories/LukeSkywalker.jpg" alt="LukeSkywalker" />
            <h5 class="imgsubtitulo">Luke Skywalker</h5>
            <p class="readmore">Tap to read more</p>
        </div>
        <div class="col-md-2">
            <img class="col-md-12" src="/assets/images/categories/DarthVader.jpg" alt="DarthVader" />
            <h5 class="imgsubtitulo">Darth Vader</h5>
            <p class="readmore">Tap to read more</p>
        </div>
        <div class="col-md-2">
            <img class="col-md-12" src="/assets/images/categories/PrincessLeia.jpg" alt="PrincessLeia" />
            <h5 class="imgsubtitulo">Princess Leia</h5>
            <p class="readmore">Tap to read more</p>
        </div>
        <div class="col-md-2">
            <img class="col-md-12" src="/assets/images/categories/anewhope.jpg" alt="anewhope" />
            <h5 class="imgsubtitulo">R2 D2</h5>
            <p class="readmore">Tap to read more</p>
        </div>
        <div class="col-md-2">
            <img class="col-md-12" src="/assets/images/categories/anewhope.jpg" alt="anewhope" />
            <h5 class="imgsubtitulo">Han Solo</h5>
            <p class="readmore">Tap to read more</p>
        </div>
    </div>