<section class="main">
  <h2 class="main__title"></h2>
  <input class="input" type="text" placeholder="Search...">
</section>
<section>
  <div class="wrap">
    <h2 class="main__title">SEARCH RESULTS</h2>
    <p>Filter by:</p>
    <p>Categorias: <input list="colores" name="colores" type="text" placeholder="Elige un color">  </p>
    <datalist id="colores">
      <option value="Movies"></option>
      <option value="Characters"></option>
      <option value="Planets"></option>
      <option value="Species"></option>
      <option value="Starships"></option>
      <option value="Vehicles"></option>
    </datalist>
  </div>
</section>
