#home {
  img {
    display: block;
    margin: 120px auto 200px;
    width: 60%;
    height: auto;
  }
}

#about-us {
  margin-top: 200px;

  .intro {
    position: relative;
    height: 500px;
    overflow: hidden;

    h3 {
      position: absolute;
      top: 0;
      left: 0;
      font-family: 'Open Sans Condensed';
      font-weight: 100;
      color: #1a7c88;
      font-size: 50px;
      z-index: 100;
    }

    .fade {
      position: absolute;
      top: 0;
      left: 0px;
      width: 100%;
      height: 200px;
      background-image: linear-gradient(0deg, transparent, black 75%);
      z-index: 10;
    }

    .crawl {
      position: absolute;
      width: 100%;
      height: 80em;
      bottom: 0;
      left: 50%;
      margin-left: -50%;
      text-align: justify;
      overflow: hidden;
      transform-origin: 50% 100%;
      transform: perspective(300px) rotateX(25deg);

      .crawl-text {
        position: absolute;
        top: calc(100% - 50px);
        animation: scroll 60s linear infinite;

        * {
          font-family: 'Pathway Gothic One', sans-serif;
          font-size: 40px;
          font-weight: bold;
          line-height: 100px;
          color: #feda4a;
        }

        p {
          text-align: justify;
        }

        .title {
          h1 {
            margin: 0;
          }

          p {
            text-align: center;
          }
        }
      }

      @keyframes scroll {
        0% {
          top: calc(100% - 50px);
        }

        100% {
          top: -30%;
        }
      }
    }
  }
}

#in-a-galaxy {
  position: relative;
  padding-bottom: 0;

  .col-2 {
    background-image: url('/assets/images/tunez-la-guerra-de-las-galaxias.jpg');
    background-size: cover;

    .section-content {
      background: rgba(0, 0, 0, 0.50);
      padding-top: 170px;
      padding-bottom: 150px;
      padding-right: 50px;

      h2 {
        text-align: left;
        margin-bottom: 100px;
      }

      h3 {
        font-size: 26px;
      }
    }
  }

  div.more {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
  }
}

#categories {

  .section-content {
    h2 {
      font-size: 30px;
      margin-bottom: 30px;
      text-align: left;
      transition: all 0.3s;

      &:hover {
        padding-left: 30px;
      }
    }

    .center {
      padding-top: 30px;
    }
  }

  img {
    width: 90%;
    height: auto;
    margin: auto auto;
  }
}
