<router-outlet></router-outlet>

<app-view-layout>
  <section id="home">
    <img src="/assets/images/wookiee-pedia-star-wars.png" alt="Wookieepedia" />
    <a href="#about-us" class="more">
      <span>SHOW MORE</span>
      <fa-icon class="more" [icon]="faChevronDown"></fa-icon>
    </a>
  </section>
  <section id="about-us">
    <div class="section-content">
      <h2>ABOUT US</h2>
      <div class="intro">
        <h3>A long time ago, in a galaxy far,<br />far away...</h3>
        <div class="fade"></div>
        <div class="crawl">
          <div class="crawl-text">
            <div class="title">
              <p>ANTHOLOGY</p>
              <h1>WOOKIEEPEDIA</h1>
            </div>
            <br />
            <br />
            <p>Software engineering students developed a website that, using SWAPI, allows web surfers to view information about the movies, characters, planets, species, spaceships, and vehicles of one of the most momentous sagas of all. STAR WARS times.</p>
            <br />
            <br />
            <p>Brian, Juan, Edicson and Efrain, gathered all their knowledge of Fron End development in HTML, CSS3 and Angular, for the construction of this site as the final project of this subject. Supreme Chancellor Carlos Rivera has secretly commanded these four Jedi Knights, guardians of peace and justice in the galaxy, to solve this challenge...</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="carousel">
    <div class="carousel__container">
      <div class="carousel-item">
        <img class="carousel-item__img" src="" alt="img">
        <div class="carousel-item__details">
          <div>
            <img src="../icons/play-icon.png" alt="Play">
            <img src="../icons/plus-icon.png" alt="Plus">
          </div>
          <p class="carousel-item__details--title">Título descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
        </div>
      </div>
     
      <div class="carousel-item">
        <img class="carousel-item__img" src="" alt="img">
        <div class="carousel-item__details">
          <div>
            <img src="../icons/play-icon.png" alt="Play">
            <img src="../icons/plus-icon.png" alt="Plus">
          </div>
          <p class="carousel-item__details--title">Título descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="" alt="img">
        <div class="carousel-item__details">
          <div>
            <img src="../icons/play-icon.png" alt="Play">
            <img src="../icons/plus-icon.png" alt="Plus">
          </div>
          <p class="carousel-item__details--title">Título descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="" alt="img">
        <div class="carousel-item__details">
          <div>
            <img src="../icons/play-icon.png" alt="Play">
            <img src="../icons/plus-icon.png" alt="Plus">
          </div>
          <p class="carousel-item__details--title">Título descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="" alt="img">
        <div class="carousel-item__details">
          <div>
            <img src="../icons/play-icon.png" alt="Play">
            <img src="../icons/plus-icon.png" alt="Plus">
          </div>
          <p class="carousel-item__details--title">Título descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="" alt="img">
        <div class="carousel-item__details">
          <div>
            <img src="../icons/play-icon.png" alt="Play">
            <img src="../icons/plus-icon.png" alt="Plus">
          </div>
          <p class="carousel-item__details--title">Título descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
        </div>
      </div>
    </div>
  </section>



<section>
  <div *ngFor ="let galaxi of galaxi" class="galaxi">
    <img [src]="galaxi.image" alt="">
    <div class="texto-encima"><h1>{{galaxi.title}}</h1></div>
    <div class="centrado"><h3>orem Ipsum es simplemente un texto ficticio de la industria de impresión y  composición tipográfica. Lorem Ipsum ha sido el texto ficticio estándar de la industria desde el año 1500, cuando una impresora desconocida tomó una galera de tipo y br la mezcló para hacer un libro de muestras. Ha sobrevivido no solo cinco siglos, sino también el salto a la composición electrónica,</h3></div>
    
  </div>
  <div class="more">
    <a href="#about-us">SHOW MORE</a>
    <fa-icon class="more" [icon]="faChevronDown"></fa-icon>
  </div>  
</section>




<section id="portafolio" class="portfolio">
  <div class="container">
  <article class="project">
      <div class="project-details">
        <nav class="menu_tex">
          <ol>
            <li>
              <a class="link" href="#nombre">Nombre</a>
            </li>
            <li>
              <a class="link" href="#nombre2">nombre2</a>
            </li>
            <li>
              <a class="link" href="#nombre3">nombre3</a>
            </li>
            <li>
              <a class="link" href="#nombre3">nombre3</a>
            </li>
          </ol>
        </nav>
      </div>
      <figure class="project-imageContainer2">
        <img class="project-image2" width="" src="/assets/images/wook.png" alt="star wars">
      </figure>
    </article>
  </div>
  
</section>

</app-view-layout>


  