<app-loading *ngIf="loading"></app-loading>
<section class="section-content" *ngIf="resource">
  <h1>{{resource.title}}</h1>
  <div class="row">
    <div class="col-sm">
      <img class="img-description" src="{{resource.imageUrl}}" alt="{{resource.name}}" />
    </div>
    <div class="col-sm">
      <h3>EPISODE ID:</h3>
      <p>{{resource.episode_id}}</p>
      <h3>OPENING CRAWL:</h3>
      <p>{{resource.opening_crawl}}</p>
      <h3>DIRECTOR:</h3>
      <p>{{resource.director}}</p>
      <h3>PRODUCER:</h3>
      <p>{{resource.producer}}</p>
    </div>
    <div class="col-sm">
      <h3>RELEASE DATE:</h3>
      <p>{{resource.release_date}}</p>
    </div>
  </div>
    <app-resource [resource]="resource.films"></app-resource>
    <app-resource [resource]="resource.species"></app-resource>
    <app-resource [resource]="resource.vehicles"></app-resource>
    <app-resource [resource]="resource.starships"></app-resource>
    <app-resource [resource]="resource.people"></app-resource>
    <app-resource [resource]="resource.planets"></app-resource>
</section>
