<nav>
  <a href="/" class="page-logo">
    <img src="/assets/images/wookiee-pedia.png" />
  </a>
  <ul>
    <li><a class="option" href="/#home">HOME</a></li>
    <li><a class="option" href="/#about-us">ABOUT US</a></li>
    <li><a class="option" href="/#movies">MOVIES</a></li>
    <li><a class="option" href="/#in-a-galaxy">IN A GALAXY</a></li>    
  </ul>
  <div class="search">
    <form #s="ngForm" class="search-input" novalidate>
      <i>
        <fa-icon [icon]="faSearch"></fa-icon>
      </i>
      <input type="search" placeholder="Search..." (change)="search($event)"/>
    </form>
  </div>
  <div class="translator-container">
    <div class="translator">
      <img class="option active" src="/assets/images/han-solo-button.png" alt="Han Solo Button.png" />
      <img class="option" src="/assets/images/chew-button.png" alt="Chew Button" />
    </div>
    <div class="translator-text">
      <span class="option active">EN</span>
      <span class="option">WO</span>
    </div>
  </div>
</nav>
