nav {
  display: grid;
  background: rgba(30, 30, 30, 0.80);
  transition: all 0.5s;
  grid-template: 110px / 200px 1fr 300px 200px;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    grid-template: 80px / 200px 1fr 300px 200px;
    opacity: 0.5;
    z-index: 1000;

    &:hover {
      opacity: 1;
    }
  }

  .page-logo {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    img {
      width: 100%;
      height: auto;
    }
  }

  ul {
    grid-row: 1;
    grid-column: 2;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    min-width: 300px;
    padding: 20px;

    li {
      font-size: 0.9em;
    }
  }

  .search {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    form {
      width: 100%;
      height: 43px;
      position: relative;

      i {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(calc(-50% - 1px));

        * {
          font-size: 16px;
        }
      }
    }
  }

  .translator-container {
    grid-row: 1;
    grid-column: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .translator {
      border-radius: 25px;
      background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
      height: 50px;
      width: 110px;
      display: flex;
      justify-content: space-between;

      img {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
      }
    }

    .translator-text {
      position: relative;
      width: 120px;
      height: 18px;

      span {
        position: absolute;
        top: 0;
        left: 20px;

        &:last-child {
          left: unset;
          right: 18px;
        }
      }
    }
  }
}
