<app-loading *ngIf="loading"></app-loading>
<section class="section-content" *ngIf="resource">
  <h1>{{resource.name}}</h1>
  <div class="row">
    <div class="col-sm">
      <img class="img-description" src="{{resource.imageUrl}}" alt="{{resource.name}}" />
    </div>
    <div class="col-sm">
      <h3>MODEL:</h3>
      <p>{{resource.model}}</p>
      <h3>VEHICLE CLASS:</h3>
      <p>{{resource.vehicle_class}}</p>
      <h3>MANUFACTURER:</h3>
      <p>{{resource.manufacturer}}</p>
      <h3>LENGTH:</h3>
      <p>{{resource.length}}</p>
    </div>
    <div class="col-sm">
      <h3>COST IN CREDITS:</h3>
      <p>{{resource.cost_in_credits}}</p>
      <h3>CREW:</h3>
      <p>{{resource.crew}}</p>
      <h3>PASSENGERS:</h3>
      <p>{{resource.passengers}}</p>
      <h3>MAX ATMOSPHERING SPEED:</h3>
      <p>{{resource.max_atmosphering_speed}}</p>
    </div>
    <div class="col-sm">
        <h3>CARGO CAPACITY:</h3>
        <p>{{resource.cargo_capacity}}</p>
        <h3>CONSUMABLES:</h3>
        <p>{{resource.consumables}}</p>
      </div>
  </div>
    <app-resource [resource]="resource.films"></app-resource>
    <app-resource [resource]="resource.pilots"></app-resource>

</section>
