<app-loading *ngIf="loading"></app-loading>
<div class="resource-container">
  <h3>{{resource.resourceType}} ({{resource.count}})</h3>
  <div *ngIf="resource.count > 0" class="cards-container" style="grid-template-rows: repeat({{(resource.previous || resource.next) ? (resource.count > 5 ? 2 : 1) : Math.ceil(resource.count/5)}}, 300px);">
    <a *ngFor="let card of resource.results;" href="{{card.url}}">
      <div style="background-image:url('{{card.imageUrl}}')"></div>
      <span>{{card.name}}</span>
    </a>
  </div>
  <div *ngIf="resource.previous || resource.next" class="center">
    <span *ngIf="resource.previous" class="active" (click)="getResource(resource.previous)">< Prev</span>
    <span>Page {{resource.page}}</span>
    <span *ngIf="resource.next" class="active" (click)="getResource(resource.next)">Next ></span>
  </div>
</div>

