.two-column {
  background-image: url('/assets/images/tunez-la-guerra-de-las-galaxias.jpg');
  background-size: cover;

  .section-content {
    background: rgba(0, 0, 0, 0.50);
    padding-top: 170px;
    padding-bottom: 150px;
    padding-right: 50px;

    h2 {
      text-align: left;
      margin-bottom: 100px;
    }

    h3 {
      font-size: 26px;
    }
  }
}

div.more {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}
