<div class="stars-1"></div>
<div class="stars-2"></div>
<img class="death-star" src="/assets/images/death-star.png" />
<img class="caza-3" src="/assets/images/caza-3.png" />
<img class="caza-2" src="/assets/images/caza-2.png" />
<img class="caza-1" src="/assets/images/caza.png" />
<img class="x-wing-2" src="/assets/images/x-wing-2.png" />
<img class="x-wing-1" src="/assets/images/x-wing.png" />
<img class="falcon" src="/assets/images/falcon.png" />
<img class="tie" src="/assets/images/tie.png" />
