<div class="content">

    <h1 class="titulo">A new hope</h1>
    <div class="row">


        <img class="col-md-4" src="/assets/images/categories/anewhope.jpg" alt="anewhope" />

        <div  class="col-md-6">
            <h2>Summary</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in euismod tellus. 
                Proin pulvinar maximus mi nec varius. Fusce sed est sit amet libero viverra cursus et vitae lacus. 
                Cras sed vehicula nibh. Etiam porta consectetur venenatis. 
                Morbi non felis et massa mollis finibus ut quis mi. 
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed dapibus id lacus a bibendum.
            </p>

            
        </div>
        
        
        
        
    </div>
    <div class="row">
        
        <h1 class="col-md-12">Director</h1>
        <p class="col-md-12">parrafo 1</p>
        <h1 class="col-md-12">Director</h1>
        <p class="col-md-12">parrafo 1</p>
        <h1 class="col-md-12">Director</h1>
        <p class="col-md-12">parrafo 1</p>
    </div>
    <div class="row">
        <h1 class="col-md-12">Character</h1>  
        <div class="col-md-2">
            <img class="col-md-12" src="/assets/images/categories/anewhope.jpg" alt="anewhope" />
            <h5>nombre de imagen</h5>
            <p>subtitulo</p>
        </div>
        <div class="col-md-2">
            <img class="col-md-12" src="/assets/images/categories/anewhope.jpg" alt="anewhope" />
        </div>
        <div class="col-md-2">
            <img class="col-md-12" src="/assets/images/categories/anewhope.jpg" alt="anewhope" />
        </div>
        <div class="col-md-2">
            <img class="col-md-12" src="/assets/images/categories/anewhope.jpg" alt="anewhope" />
        </div>
        <div class="col-md-2">
            <img class="col-md-12" src="/assets/images/categories/anewhope.jpg" alt="anewhope" />
        </div>
    </div>
</div>